# Python
venv/
__pycache__/
*.pyc

# Data (keep structure, not large files)
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / editor
.DS_Store
Thumbs.db
.vscode/